{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    <h1 class="main-title">Transforme a eficiência e qualidade do seu grupo de anestesia com a Coopahub.</h1>
    <h2 class="sub-title">ENTERPRISE RESOURCE PLANNING PARA PROFISSIONAIS DA SAÚDE</h2>
    <div class="cards">
        <a href="{% url 'cadastro' %}" class="card cadastro">
            <span>Cadastro</span>
        </a>
        <a href="{% url 'agenda' %}" class="card agenda">
            <span>Agenda</span>
        </a>
        <a href="{% url 'financas' %}" class="card financas">
            <span>Finanças</span>
        </a>
        <a href="{% url 'qualidade' %}" class="card qualidade">
            <span>Qualidade</span>
        </a>
        <a href="{% url 'dashboard' %}" class="card dashboard">
            <span>Dashboard</span>
        </a>
    </div>
</div>
{% endblock %}
