{% extends 'layout.html' %}
{% load static %}

{% block title %}Membros{% endblock %}

{% block content %}
<div class="members-container">
    {% if no_record_message %}
        <p>Você ainda não foi cadastrado como Anestesista do grupo. Por favor, solicite o seu cadastro a quem possui o acesso do tipo Secretário(a) ou Gestor.</p>
    {% else %}
        <div class="tab-container">
            <button class="tab-button active" data-tab="anesthesiologists">Médicos anestesiologistas</button>
            <button class="tab-button" data-tab="surgeons">Médicos cirurgiões</button>
            <button class="tab-button" data-tab="hospitals">Hospitais e clínicas</button>
        </div>

        <div id="anesthesiologists" class="tab-content active">
            {% if anesthesiologists %}
                <table class="member-table">
                    <thead>
                        <tr class="header-row">
                            <th>Nome</th>
                            <th>CRM</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for anesthesiologist in anesthesiologists %}
                            <tr>
                                <td>{{ anesthesiologist.name }}</td>
                                <td>{{ anesthesiologist.crm }}</td>
                                <td>{{ anesthesiologist.email }}</td>
                                <td>{{ anesthesiologist.phone }}</td>
                                <td>
                                    <div class="actions-dropdown">
                                        <button class="actions-button">Ações ▼</button>
                                        <div class="actions-content">
                                            <a href="{% url 'edit' 'anesthesiologist' anesthesiologist.id %}">Editar</a>
                                            <a href="{% url 'delete' 'anesthesiologist' anesthesiologist.id %}" onclick="return confirm('Tem certeza que deseja deletar este Anestesiologista?');">Deletar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Nenhum anestesiologista cadastrado.</p>
            {% endif %}
        </div>

        <div id="surgeons" class="tab-content">
            {% if surgeons %}
                <table class="member-table">
                    <thead>
                        <tr class="header-row">
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>CRM</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for surgeon in surgeons %}
                            <tr>
                                <td>{{ surgeon.name }}</td>
                                <td>{{ surgeon.phone }}</td>
                                <td>{{ surgeon.crm }}</td>
                                <td>
                                    <div class="actions-dropdown">
                                        <button class="actions-button">Ações ▼</button>
                                        <div class="actions-content">
                                            <a href="{% url 'edit' 'surgeon' surgeon.id %}">Editar</a>
                                            <a href="{% url 'delete' 'surgeon' surgeon.id %}" onclick="return confirm('Tem certeza que deseja deletar este Cirurgião?');">Deletar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Nenhum cirurgião cadastrado.</p>
            {% endif %}
        </div>

        <div id="hospitals" class="tab-content">
            {% if hospitals %}
                <table class="member-table">
                    <thead>
                        <tr class="header-row">
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th>Telefone do Centro Cirúrgico</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hospital in hospitals %}
                            <tr>
                                <td>{{ hospital.name }}</td>
                                <td>{{ hospital.address }}</td>
                                <td>{{ hospital.surgery_center_phone }}</td>
                                <td>
                                    <div class="actions-dropdown">
                                        <button class="actions-button">Ações ▼</button>
                                        <div class="actions-content">
                                            <a href="{% url 'edit' 'hospital_clinic' hospital.id %}">Editar</a>
                                            <a href="{% url 'delete' 'hospital_clinic' hospital.id %}" onclick="return confirm('Tem certeza que deseja deletar este Hospital/Clínica?');">Deletar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Nenhum hospital/clínica cadastrado.</p>
            {% endif %}
        </div>
    {% endif %}
    <button class="new-registration-button" data-tab="anesthesiologists">Novo Cadastro</button>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tabButtons = document.querySelectorAll('.tab-button');
        const tabContents = document.querySelectorAll('.tab-content');
        const newRegistrationButton = document.querySelector('.new-registration-button');

        tabButtons.forEach(button => {
            button.addEventListener('click', () => {
                const tabName = button.getAttribute('data-tab');
                
                tabButtons.forEach(btn => btn.classList.remove('active'));
                tabContents.forEach(content => content.classList.remove('active'));

                button.classList.add('active');
                document.getElementById(tabName).classList.add('active');

                // Update the new registration button's data-tab attribute
                newRegistrationButton.setAttribute('data-tab', tabName);
            });
        });

        // Add click event listener for the new registration button
        newRegistrationButton.addEventListener('click', function() {
            const currentTab = this.getAttribute('data-tab');
            window.location.href = "{% url 'cadastro_redirect' 'placeholder' %}".replace('placeholder', currentTab);
        });
    });
</script>
{% endblock %}
