{% extends 'layout.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<h1>Seu Perfil</h1>
<p><strong>Seu e-mail:</strong> {{ user.email }}</p>
<p><strong>Seu acesso ao sistema:</strong> {{ user.get_user_type_display }}</p>

{% if user.validado %}
    <p>Acesso validado</p>
{% else %}
    <p>Acesso completo ainda não validado. Solicite ao administrador do sistema.</p>
{% endif %}

<p>Para alterar seu e-mail ou tipo de acesso, contate o administrador do sistema.</p>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% endblock %}
