{% extends 'layout.html' %}
{% block title %}Perfil{% endblock %}

{% block content %}
<div class="profile-container">
    <h1>Seu Perfil</h1>
    <p><strong>Seu nome:</strong> {{ user.full_name }}</p>
    <p><strong>Seu acesso ao sistema:</strong> {{ user.get_user_type_display }}</p>
    {% if user.group %}
        <p><strong>Seu Grupo ativo:</strong> {{ user.group }}</p>
    {% endif %}


    <hr>
    {% if user_memberships|length > 1 %} {# Only show switcher if user belongs to more than one group #}
    <h3>Múltiplos Grupos</h3>
        <label for="group_id">Escolha o grupo que deseja usar no sistema (os dados que você verá serão referentes a este grupo):</label>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="switch_active_group" value="1" />
            <div class="form-row">
                <select name="group_id" id="group_id" class="form-control">
                    {% for membership in user_memberships %}
                        <option value="{{ membership.group.id }}"
                            {% if membership.group == user.group %}selected{% endif %}>
                            {{ membership.group.name }}
                            {% if membership.validado %}(validado){% else %}(não validado){% endif %}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Escolher grupo</button>
            </div>
        </form>

    {% endif %}

    <p>Para alterar seu e-mail ou tipo de acesso, contate o administrador do sistema.</p>

    <!-- LOGOUT -->
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout-button">Logout</button>
    </form>
</div>
{% endblock %}
