{% extends 'layout.html' %}

{% block title %}Conta Sem Autorização{% endblock %}

{% block content %}
<div class="not-validated-container">
    <h1>Ops</h1>
    <p>Desculpe, a função da sua conta não permite a execução dessa função. Solicite essa ação a uma pessoa com acesso de gestor ou secretário...</p>

    <p class="redirect-message">Você será redirecionado para a página inicial em breve.</p>

    <div class="loader"></div>
</div>

<script>
    setTimeout(function() {
        window.location.href = "{% url 'home' %}";
    }, 5000);  // Redirection after 5 seconds
</script>
{% endblock %}