html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Changed from 100% to 100vh */
    font-family: 'League Spartan', Arial, sans-serif;
    background-color: #101820;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: linear-gradient(to right, #101820, #232376);
    color: #ffffff;
    height: 100px;
}

.logo img {
    height: 160px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    background-color: #418FDE;
    display: flex;
    align-items: center;  
    justify-content: center; 
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 130px;  
    height: 30px; 
    text-align: center;
}

.nav-links li a:hover {
    background-color: #2c659e;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

.menu-toggle {
    display: none; /* Hidden by default on larger screens */
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.home-container {
    text-align: center;
    padding: 20px;
}

.main-title {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 1.2rem;
    color: #418FDE;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px; /* Adds space between the cards */
}

.card {
    width: 200px;
    height: 250px;
    margin: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.card span {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.card:hover span {
    background-color: rgba(0, 0, 0, 0.9);
}

.card a {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.card:hover a {
    background-color: rgba(0, 0, 0, 0.9);
}

.card.cadastro {
    background: url("../cadastro.png") no-repeat center center;
    background-size: cover;
}

.card.agenda {
    background: url("../agenda.png") no-repeat center center;
    background-size: cover;
}

.card.financas {
    background: url("../financas.png") no-repeat center center;
    background-size: cover;
}

.card.qualidade {
    background: url("../qualidade.png") no-repeat center center;
    background-size: cover;
}

.card.dashboard {
    background: url("../dashboard.png") no-repeat center center;
    background-size: cover;
}



.search-and-notification {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.search-and-notification input[type="text"] {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-right: 10px;
}

.notification-bell {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.auth-box {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.auth-box h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: #ffffff;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.form-group-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Optional: can also use flex-start */
    margin-bottom: 15px;
}

.form-group-inline label {
    margin-right: 10px; /* Add space between label and input */
}

.form-group label span {
    margin-right: 10px;
    font-size: 1.2rem;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #333;
    color: #ffffff;
}

.form-group select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #333;
    color: #ffffff;
    appearance: none; /* Removes the default browser styling for select elements */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%204%205%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M2%200L0%202h4zm0%205L0%203h4z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px auto;
    width: 100%;
    box-sizing: border-box;
}

.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1c2630; /* Match the background color with other forms */
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.form-group select option {
    background-color: #333;
    color: #ffffff;
}

.auth-box a {
    color: #418FDE;
    text-align: right;
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
    text-decoration: none;
}

.auth-button {
    width: 100%;
    background-color: #418FDE;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.auth-button:hover {
    background-color: #2c659e;
}

hr {
    border: none;
    border-top: 1px solid #333;
    width: 80%;
    margin: 20px 0;
}

.error-message {
    color: #ff4d4d;
    font-size: 0.9rem;
    margin-top: 5px;
    text-align: left;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #101820;
    color: #ffffff;
    width: 100%;
    margin-top: auto; /* This pushes the footer to the bottom */
}



.profile-container {
    margin-left: 30px;
    margin-right: 30px;
    max-width: 600px;
}

.profile-container h1 {
    color: #418FDE;
    margin-bottom: 20px;
}

.profile-container p {
    margin-bottom: 15px;
}

.validation-status {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.validation-status.validated {
    background-color: #4CAF50;
    color: white;
}

.validation-status.not-validated {
    background-color: #f44336;
    color: white;
}

.logout-button {
    background-color: #418FDE;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #2c659e;
}



.not-validated-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.not-validated-container h1 {
    color: #418FDE;
    margin-bottom: 20px;
}

.not-validated-container p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.redirect-message {
    font-style: italic;
    color: #888;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #418FDE;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}


/* Add this to your existing style.css file */

.cadastro-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #232376;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-grow: 1;
    text-align: center;
}

.tab-button:hover,
.tab-button.active {
    background-color: #418FDE;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.members-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.members-container h1 {
    color: #418FDE;
    margin-bottom: 20px;
}

.member-list {
    list-style-type: none;
    padding: 0;
}

.member-list li {
    background-color: #222;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #1c2630;
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.member-table thead {
    background-color: #232376;
}

.member-table th, .member-table td {
    padding: 20px 15px; /* Adjusted padding for better fit */
    text-align: left;
    vertical-align: middle; /* Ensures text is vertically centered */
    white-space: nowrap; /* Prevents text from wrapping */
}

.member-table th {
    font-weight: bold;
    color: #ffffff;
}

.member-table tbody tr {
    border-bottom: 1px solid #333;
    height: 60px; /* Added minimum height to each row */
}

.member-table tbody tr:last-child {
    border-bottom: none;
}

.member-table tbody tr:hover {
    background-color: #2c659e;
}

.member-table tbody tr td:last-child {
    display: flex;
    justify-content: space-between; /* Ensures buttons are spaced out */
    gap: 10px; /* Adds space between the Edit and Delete buttons */
}


.edit-button {
    background-color: #418FDE;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 25px; /* Increased padding for the edit button */
    border-radius: 3px;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #2c659e;
}


.edit-button, .delete-button {
    padding: 10px 15px; /* Padding adjusted for better fit */
    border-radius: 3px;
    transition: background-color 0.3s;
    white-space: nowrap; /* Ensures button text does not wrap */
}

.edit-button {
    background-color: #418FDE;
    color: #ffffff;
    text-decoration: none;
}

.edit-button:hover {
    background-color: #2c659e;
}


.delete-button {
    background-color: #dc3545;
    color: #ffffff;
    text-decoration: none;
}

.delete-button:hover {
    background-color: #c82333;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-row input,
.form-row select {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1c2630;
    color: #ffffff;
}

.form-row input:last-child,
.form-row select:last-child {
    margin-right: 0;
}

.form-row input::placeholder,
.form-row select::placeholder {
    color: #a0a0a0;
}

.cadastrar-btn {
    background-color: #418FDE;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.cadastrar-btn:hover {
    background-color: #2c659e;
}

/* Styling for select dropdowns */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px auto;
    padding-right: 30px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.button-group .cadastrar-btn {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box; /* This ensures padding is included in the width */
}

.save-btn {
    background-color: #418FDE;
    color: #ffffff;
}

.save-btn:hover {
    background-color: #2c659e;
}

.cancel-btn {
    background-color: #dc3545;
    color: #ffffff;
    text-decoration: none;
    display: block; /* Changed from inline-block to block */
}

.cancel-btn:hover {
    background-color: #c82333;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .logo img {
        height: 100px; /* Reduce logo size on mobile */
    }

    .nav-links {
        display: none; /* Hide the links by default */
        flex-direction: column; /* Stack the links vertically */
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #232376;
    }

    .nav-links.active {
        display: flex; /* Show the menu when active */
    }

    .nav-links li a {
        width: auto;  /* Remove the fixed width */
        height: auto; /* Remove the fixed height */
        background-color: transparent; /* Remove the background color */
        box-shadow: none; /* Remove the shadow effect */
        padding: 10px 0; /* Add some padding for spacing */
    }

    .menu-toggle {
        display: block; /* Show the hamburger icon on small screens */
    }

    .cards {
        justify-content: flex-start; /* Align cards to the start */
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 20px 0; /* Add vertical padding */
        padding-left: 20px; /* Add left padding to make the first card visible */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
        scrollbar-width: none; /* Hide scrollbar for Firefox */
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    }

    /* Hide scrollbar for Webkit browsers */
    .cards::-webkit-scrollbar {
        display: none;
    }

    .card {
        flex: 0 0 auto;
        margin-right: 10px; /* Space between cards */
        width: 180px; /* Slightly reduce the width to fit better in smaller screens */
    }

    /* Remove right margin from the last card */
    .card:last-child {
        margin-right: 20px; /* This creates some space after the last card */
    }
    .form-row {
        flex-direction: column;
    }

    .form-row input,
    .form-row select {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .tab-container {
        flex-direction: column;
    }

    .tab-button {
        margin-bottom: 10px;
    }

    .member-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    .edit-button {
        margin-top: 10px;
    }
      
}

/* For screens larger than 768px, show the nav-links */
@media (min-width: 769px) {
    .nav-links {
        display: flex !important; /* Ensure nav-links are displayed */
    }

    .menu-toggle {
        display: none; /* Hide the hamburger icon on large screens */
    }
}

.agenda-container {
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
}

.agenda-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left-controls {
    display: flex;
    align-items: center;
}

.center-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center; /* Vertically centers the elements */
    justify-content: center; /* Horizontally centers the elements */
    gap: 20px; /* Adds space between elements */
}


.right-controls {
    display: flex;
    align-items: center;
    justify-content: center; /* If you want to center the right controls horizontally */
    gap: 15px; /* Adds space between elements */
}


.view-type-switcher {
    display: flex;
    gap: 5px; /* Space between the Semana and Mês buttons */
}

.view-type-switcher .btn {
    background-color: #f0f0f0;
    color: #000000;
    border: 2px solid #ccc;
    padding: 5px 20px; /* Increased padding for bigger size */
    border-radius: 10px; /* Rounded corners */
    font-size: 1.1rem; /* Adjusted font size */
    font-weight: bold; /* Bold font */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.view-type-switcher .btn.active {
    background-color: #ccc; /* Grey background for active button */
    color: #000000;
}

.view-type-switcher .btn:hover {
    background-color: #2c659e;
    color: #ffffff;
}

.calendar-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#agendar-btn {
    background-color: #418FDE;
    color: #ffffff;
    border: none;
    padding: 15px 30px; /* Increased padding for bigger size */
    border-radius: 10px; /* Slightly rounded corners */
    font-weight: bold; /* Make text bold */
    font-size: 1.1rem; /* Adjust font size if needed */
    cursor: pointer;
    transition: background-color 0.3s;
}

#agendar-btn:hover {
    background-color: #2c659e;
}

#prev-btn, #next-btn {
    background: none;
    border: none;
    color: #418FDE; /* Set color to blue */
    font-size: 2rem; /* Increase size */
    cursor: pointer;
    margin: 0 5px; /* Adjust spacing */
}

#prev-btn:hover, #next-btn:hover {
    color: #2c659e;
}

.view-switcher {
    display: flex;
    align-items: center; /* Ensures alignment of arrows and date */
    gap: 10px; /* Space between arrows and date */
}

#current-date-range {
    margin: 0;
    font-size: 2.2rem;
}

.calendar-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calendar-search input[type="radio"] {
    display: none;
}

.calendar-search label {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000000;
}

.calendar-search input[type="radio"]:checked + label {
    background-color: #418FDE;
    color: #ffffff;
}

.calendar-search input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.agenda-scale {
    display: flex;
    align-items: center;
    gap: 5px;
}

.calendar-container {
    display: flex;
    gap: 20px;
}

.calendar-sidebar {
    width: 200px;
}

.mini-calendar {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.event-types {
    list-style-type: none;
    padding: 0;
}

.event-types li {
    margin-bottom: 10px;
}

.event-types button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

.btn-cirurgias { background-color: #4CAF50; }
.btn-procedimentos { background-color: #FFA500; }
.btn-exames { background-color: #FFD700; }

.calendar-main {
    flex-grow: 1;
}

.calendar-grid {
    display: grid;
    gap: 1px;
    background-color: #ffffff
}

.month-view {
    grid-template-columns: repeat(7, 1fr);
}

.week-view {
    grid-template-columns: auto repeat(7, 1fr);
    background-color: #ffffff;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    background-color: #ffffff;
}

.month-view .calendar-days {
    grid-column: 1 / -1;
}

.week-view .calendar-days {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    height: 50px; /* Adjust this value as needed */
    position: relative;
}

.week-view .calendar-days span {
    grid-column: span 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-left: none !important; /* Ensure left border is removed */
    border-right: none !important;
}

.week-view .calendar-days span:first-child {
    grid-column: 2;
    border-left: none;
}

.week-view .calendar-days span:last-child {
    border-right: none; /* Remove right border for the last element */
}

.week-view .calendar-days .time-column {
    display: none;
}

.week-view .calendar-days .day-column {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.week-view .day-column {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    background-color: #ffffff;
    border-left: 1px solid #e0e0e0; /* Ensure border is applied */
}

.time-slots {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    text-align: right;
    padding-right: 10px;
    background-color: #ffffff;
}

.time-slot {
    padding: 5px 0;
}

.day-column {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    background-color: #ffffff;
}

.hour-slot {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start;
    align-items: stretch; /* Make sure items stretch to the width */
    min-height: 60px;
    height: auto; /* Adjust height to fit content */
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.day {
    background-color: #ffffff;
    min-height: 100px;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

.other-month {
    opacity: 0.5;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #101820;
    color: #ffffff;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.procedure-modal {
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    border: 4px solid #b3e5fc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 15px;
    z-index: 1000;
    display: none; /* Hidden by default */
}

.procedure-modal.right-aligned {
    right: 0;
}

.procedure-modal-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: relative;
    padding-top: 20px;
}

.procedure-modal-content p {
    margin: 5px 0;
}

.procedure-patient-name {
    font-weight: bold;
}

.pdf-link {
    display: flex;
    align-items: center;
    color: #d32f2f;
    text-decoration: none;
    margin-top: 10px;
}

.pdf-link img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.procedure-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.edit-btn {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover, .cancel-btn:hover {
    opacity: 0.9;
}

/* Default styles for procedure-card */
.procedure-card {
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.week-view-card {
    flex-grow: 1; /* Allow cards to grow and shrink as needed */
    flex-shrink: 0;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px; /* Add space between cards */
    background-color: #f5f5f5;
    border-radius: 5px;
}

.procedure-card:hover {
    opacity: 0.9;
}

.procedure-card span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.procedure-card span:first-child {
    font-weight: bold;
}

/* Specific colors based on procedimento_type */
.cirurgia {
    background-color: #4CAF50; /* Green for CIRURGIA_PROCEDIMENTO */
}

.fora-centro {
    background-color: #FFA500; /* Orange for FORA_CENTRO_PROCEDIMENTO */
}

.exame {
    background-color: #FFD700; /* Gold for EXAME_PROCEDIMENTO */
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    line-height: 1;
}

.close-modal:hover {
    color: #333;
}


.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #418FDE;
    color: white;
}

.btn-primary:hover {
    background-color: #2c659e;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

.edit-procedure, .delete-procedure {
    font-size: 14px;
}

.is-invalid {
    border-color: #dc3545;
}
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}