body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: linear-gradient(to right, #101820, #4141de);
    color: #ffffff;
    height: 100px;
}

.logo img {
    height: 160px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    background-color: #418FDE;
    padding: 10px 0; /* Set padding only for top and bottom */
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 150px; /* Set a fixed width for all buttons */
    height: 7px; /* Set a fixed height for the buttons */
    line-height: 7px; /* Match line-height to height for vertical centering */
    text-align: center; /* Center the text inside the button */
    display: block; /* Ensure the button takes up the full width */
}

.nav-links li a:hover {
    background-color: #2c659e;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

.search-and-notification {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.search-and-notification input[type="text"] {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-right: 10px;
}

.notification-bell {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #101820;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
