<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CoopaHub{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const menuToggle = document.querySelector('.menu-toggle');
            const navLinks = document.querySelector('.nav-links');

            menuToggle.addEventListener('click', function() {
                navLinks.classList.toggle('active');
            });
        });
    </script>
</head>
<body>
    <!-- Fixed Top Menu -->
    <header>
        <nav class="top-nav">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'logo_COOPAHUB.png' %}" alt="CoopaHub Logo">
                </a>
            </div>
            <button class="menu-toggle" aria-label="Toggle navigation">
                &#9776; <!-- hamburger icon -->
            </button>
            <ul class="nav-links">
                {% if user.is_authenticated %}
                    {% if user.user_type == GESTOR_USER or user.user_type == ADMIN_USER %}
                        <li><a href="{% url 'members' %}" {% if request.resolver_match.url_name == 'members' %}class="active"{% endif %}>Membros</a></li>
                        <li><a href="{% url 'cadastro' %}" {% if request.resolver_match.url_name == 'cadastro' %}class="active"{% endif %}>Cadastro</a></li>
                    {% elif user.user_type == ANESTESISTA_USER %}
                        <li><a href="{% url 'members' %}" {% if request.resolver_match.url_name == 'members' %}class="active"{% endif %}>Meu cadastro</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'cadastro' %}" {% if request.resolver_match.url_name == 'cadastro' %}class="active"{% endif %}>Cadastro</a></li>
                {% endif %}
                <li><a href="{% url 'agenda' %}" {% if request.resolver_match.url_name == 'agenda' %}class="active"{% endif %}>Agenda</a></li>
                <li><a href="{% url 'financas' %}" {% if request.resolver_match.url_name == 'financas' %}class="active"{% endif %}>Finanças</a></li>
                <li><a href="{% url 'qualidade' %}" {% if request.resolver_match.url_name == 'qualidade' %}class="active"{% endif %}>Qualidade</a></li>
                <li><a href="{% url 'dashboard' %}" {% if request.resolver_match.url_name == 'dashboard' %}class="active"{% endif %}>Dashboard</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'profile' %}" class="user-account-link">
                            <span class="user-account-icon" aria-label="Minha conta">
                                {{ user.email|first|upper }}
                            </span>
                            <span class="user-account-text">Minha Conta</span>
                        </a>
                    </li>
                {% else %}
                    <li><a href="{% url 'login_register' %}" {% if request.resolver_match.url_name == 'login_register' %}class="active"{% endif %}>Login</a></li>
                {% endif %}
            </ul>
            <!-- Por enquanto não temos função de busca
            <div class="search-and-notification">
                <input type="text" placeholder="O que você procura">
                <button class="notification-bell">
                    <span>&#128276;</span>
                </button>
            </div>
            -->   
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 CoopaHub. Todos os direitos reservados.</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
